# npm
node_modules
package-lock.json
npm-shrinkwrap.json
*.log
*.gz

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# Enviroment variables
.env
.env.test

# Dist
dist

# ignore additional files using core.excludesFile
# http://git-scm.com/docs/gitignore